__pycache__
operator level tracker/temp
savegames/temp
wiki page auto gen/outputBpShapeLists.txt
wiki page auto gen/outputChangelog.txt
wiki page auto gen/outputMilestoneLists.txt
wiki page auto gen/outputOLGoalLineLists.txt
wiki page auto gen/outputOLRewardLists.txt
wiki page auto gen/outputOLShapeBadgeLists.txt
wiki page auto gen/outputTaskLists.txt