__pycache__
savegames/temp
wiki page auto gen/outputBpShapeShapes
wiki page auto gen/outputMilestoneShapes
wiki page auto gen/outputTaskShapes
wiki page auto gen/outputBpShapeLists.txt
wiki page auto gen/outputMilestoneLists.txt
wiki page auto gen/outputTaskLists.txt